<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<?php echo base_url('css/bootstrap.min.css');?>" rel="stylesheet">
    <title>添加收费记录</title>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-default navbar-inverse">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<?php echo site_url('login');?>">退出</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="<?php  echo site_url('manager/read');?>">管理业主</a></li>
                <li><a href="<?php  echo site_url('manager_skip/owner_register');?>">添加业主</a></li>
                <li><a href="<?php echo site_url('charge/read');?>">管理物业费</a></li>
                <li><a href="<?php  echo site_url('charge_skip/charge_register');?>">添加缴费记录</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </nav>

<form method="post" action="<?php   echo site_url('charge/insert_charge');?>">
    <table class="table-bordered table-hover table">
        <tr>
            <td><strong>用户id</strong></td>
            <td><input type="text" name="ownerid"></td>
        </tr>
        <tr>
            <td><strong>收取费用</strong></td>
            <td><input type="text" name="charge"></td>
        </tr>
        <tr>
            <td><strong>备注</strong></td>    
            <td><input type="text" name="remark"></td>
        </tr>
    </table>
    <input type="submit" value="添加">
</form>
</div>
</body>
</html>