<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<?php echo base_url('css/bootstrap.min.css');?>" rel="stylesheet">
    <title>添加用户</title>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-default navbar-inverse">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<?php echo site_url('login');?>">退出</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="<?php  echo site_url('manager/read');?>">管理业主</a></li>
                <li><a href="<?php  echo site_url('manager_skip/owner_register');?>">添加业主</a></li>
                <li><a href="<?php echo site_url('charge/read');?>">管理物业费</a></li>
                <li><a href="<?php  echo site_url('charge_skip/charge_register');?>">添加缴费记录</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </nav>

    <form method="post" action="<?php   echo site_url('manager/insert_owner');?>">
        <table class="table-bordered table-hover table">
            <tr>
                <td>手机号</td>
                <td><input type="text" name="telnum"></td>
            </tr>
            <tr>
                <td>密码</td>
                <td><input type="password" name="passwd"></td>
            </tr>
            <tr>
                <td>用户名</td>
                <td><input type="text" name="username"></td>
            </tr>
            <tr>
                <td>职业</td>
                <td><input type="text" name="profession"></td>
            </tr>
            <tr>
                <td>房屋面积</td>
                <td><input type="text" name="acreage"></td>
            </tr>
            <tr>
                <td>常住人口数</td>
                <td><input type="text" name="population"></td>
            </tr>
            <tr>
                <td>地址</td>
                <td><input type="text" name="location"></td>
            </tr>
            <tr>
                <td>性别</td>
                <td>
                    <input type="radio" name="genderid" value="2" checked>男
                    <input type="radio" name="genderid" value="3">女
                </td>
            </tr>
        </table>
        <input type="submit" value="提交">
    </form>
    </div>
</body>
</html>